<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}> {{network.name}}</title>

    <!-- generic webapp shit-->
    <link href='//eins78.github.com/appstrakt/style.css' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <style type="text/css">
    article, footer {
      min-width: 520px;
      max-width: 780px;
    }
    .table {
      font-size: 11pt;
    }
    .table td {
      font-family: 'Source Code Pro', sans-serif;
    }
    .table tr, .table td {
      font-weight: normal;
    }
    #network {
      width: 62%;
    }
    </style>
    
    <article>
      <header>
        <h1>{{name}}</h1>
      </header>

      {{#network}}
      {{#active}}
      <h3 class="lead muted">
        <kbd>{{name}}
          <small><a href="{{url}}" title="{{name}} Website">
            <i class="icon-external-link"></i>
          </a></small>
        </kbd>
      </h3>
      <table id="network" class="table table-condensed table-bordered">
        <tr>
          <th>range</th>
          <th>lease days</th>
          <th>listings</th>
        </tr>
        <tr>
          <td>
            <kbd>{{minimum}}..{{maximum}}</kbd> 
          </td>
          <td>
            <kbd>
              {{#lease_days}}{{lease_days}}{{/lease_days}}
              {{^lease_days}}unknown!{{/lease_days}}
            </kbd> 
          </td>
          <td>
            <kbd>
              <a href="/list/number" title="Numbers Listing">&#x2116;</a>, 
              <a href="/list/mac" title="MAC Listing">MAC</a>
            </kbd> 
          </td>
        </tr>
      </table>
      {{/active}}
      {{/network}}
            
      <table class="table table-hover">
        <tr>
          
          <th>&#x2116;</th>
          <th>MAC</th>
          <th>created at</th>
          <th>last seen <i class="icon-angle-down"></i></th>
          
        </tr>
        
        {{#knoten}}
        {{#last_seen}} {{! only show nodes with last seen}}
        <tr>
          <td>
            <a href="/GET/knoten/{{number}}">{{number}}</a>
          </td>
          <td>{{mac}}</td>
          <td>{{created_at}}</td>   
          <td>{{last_seen}}</td>   
        </tr>
        {{/last_seen}}
        {{/knoten}}
      </table>
      
    </article>
    
    <footer>
      <small class="muted">
        <kbd>{{name}}.js running on dev.</kbd>
      </small>
    </footer>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    
  </body>
</html>
