<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}> {{network.name}}</title>

    <!-- generic webapp shit-->
    <link href='http://localhost:8000/style.css' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <style type="text/css">    
    header, section, article, footer {
      min-width: 520px;
      max-width: 780px;
    }
    .table {
      font-size: 11pt;
    }
    .table td {
      font-family: 'Source Code Pro', sans-serif;
    }
    .table tr, .table td {
      font-weight: normal;
    }
    </style>
    
    <header>
      <h1><i class="icon-list-ol"></i> {{name}}</h1>
    </header>

    <section id="content">
      {{#network}}
      {{#active}}
      
      <h3 class="lead">
        network: <kbd>{{name}}
          <small><a href="{{url}}" title="{{name}} Website">
            <i class="icon-external-link"></i>
          </a></small>
        </kbd>
      </h3>
      
      <table id="network" class="table table-condensed table-bordered golden-big">
        <tr>
          <th>range</th>
          <th>lease days</th>
          <th>listings</th>
        </tr>
        <tr>
          <td>
            <kbd>{{minimum}}..{{maximum}}</kbd> 
          </td>
          <td>
            <kbd>
              {{#lease_days}}{{lease_days}}{{/lease_days}}
              {{^lease_days}}unknown!{{/lease_days}}
            </kbd> 
          </td>
          <td>
            <kbd>
              <a href="/list/number" title="Numbers Listing">&#x2116;</a>, 
              <a href="/list/mac" title="MAC Listing">MAC</a>
            </kbd> 
          </td>
        </tr>
      </table>
      {{/active}}
      {{/network}}
            
      <table id="knoten-listing" class="table table-hover">
        <tr>
          
          <th>&#x2116;</th>
          <th>MAC</th>
          <th>created at</th>
          <th>last seen <i class="icon-angle-down"></i></th>
          
        </tr>
        
        {{#knoten}}
        <tr id="knoten-nr-{{number}}">
          <td class="knoten-number">
            <a href="/GET/knoten/{{number}}">
              {{number}}
            </a>
          </td>
          <td class="knoten-mac">
            {{mac}}
          </td>
          <td class="knoten-created_at">
            {{created_at}}
          </td>   
          <td class="knoten-last_seen">
           {{last_seen}}
          </td>   
        </tr>
        {{/knoten}}

      </table>
      
    </section>
    
    <footer>
      <kbd>{{name}}.js running on dev.</kbd>
    </footer>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    
  </body>
</html>
